.reservations-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.reservation-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.locations-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.locations-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
}

.locations-list p {
    font-size: 13px;
}

.location-item {
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}
  
  .reservations-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .reservations-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .reservations-table th,
  .reservations-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .reservations-table th {
    background-color: #e59560;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
  }
  
  .reservation-row:hover {
    background-color: #f2f2f2;
  }
  
  .delete-button, .reserve-button, .select-button {
    padding: 8px 12px;
    background-color: #1d3124;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 2px;
    width: 100px;
    font-size: 20px;
  }

  .reserve-button, .select-button {
    width: 200px;
    margin-top: 10px;
  }
  
  .delete-button:hover, .select-button:hover, .reserve-button:hover {
    background-color: #668080;
    /* #d32f2f; #388e3c*/
  }
  